.gamburger
  width: 4rem
  height: 3rem
  position: relative
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer

  span
    display: block
    position: absolute
    height: .4rem
    width: 100%
    background: #FFFFFF
    border-radius: .5rem
    opacity: 1
    left: 0
    transform: rotate(0deg)
    transition: .25s ease-in-out

    &:nth-child(1) 
      top: 0

    &:nth-child(2) 
      top: 1.3rem

    &:nth-child(3) 
      top: 1.3rem

    &:nth-child(4) 
      top: 2.6rem
      
  &.open
    span

      &:nth-child(1) 
        top: 1.2rem
        width: 0%
        left: 50%

      &:nth-child(2) 
        transform: rotate(45deg)

      &:nth-child(3) 
        transform: rotate(-45deg)

      &:nth-child(4) 
        top: 1.2rem
        width: 0%
        left: 50%