extends ../main-layout.pug

block title
  title Welcome

block content

  header.header
    a.logo(href="./") Yeroshenko
    .gamburger
      span.gamburger__item.gamburger__item_first
      span.gamburger__item.gamburger__item_second
      span.gamburger__item.gamburger__item_third
      span.gamburger__item.gamburger__item_fourth

  nav.menu
    ul.menu-list
      li.menu-list__item
        a(href="#home").menu-list__link Home
      li.menu-list__item
        a(href="#works").menu-list__link Works
      li.menu-list__item
        a(href="#about").menu-list__link About me
      li.menu-list__item
        a(href="#contacts").menu-list__link Contacts


  main#fullpage
    section.section.welcome
      .container
        .heading
          h1.heading-title Valeriy Yeroshenko
          .heading-separator
            span
            span
          h2.heading-subtitle Front-end / react&nbsp;developer
        .parallax
          .parallax__inner#parallax-container
            .parallax__item
              img(src="./img/content/welcome-parallax/back.svg" alt="")
            .parallax__item
              img(src="./img/content/welcome-parallax/moon.svg" alt="")
            .parallax__item
              img(src="./img/content/welcome-parallax/front.svg" alt="")

    section.section.works
      .slide
        .container
          .heading
            h3.heading-title Social network
            .heading-separator
              span
              span
            h4.heading-subtitle Single page aplication use React & Redux
            a(href="#").heading-btn visit site

          .content
            .content__inner
              .content__img
                img(src="./img/content/work.jpg" alt="")
            .content__text 01
      .slide
        .container 
          .heading
            h3.heading-title React quiz app
            .heading-separator
              span
              span
            h4.heading-subtitle Single page aplication use React & Redux
            a(href="#").heading-btn visit site

          .content
            .content__inner
              .content__img
                img(src="./img/content/social-network.jpg" alt="")
            .content__text 02

    section.section.about 
      .container
        .heading
          h3.heading-title About me
          .heading-separator
            span
            span
          h4.heading-subtitle 19 y.o., love coding , design and speedcubing🙂

        .content
          .content__img

    section.section.contacts 
      .container
        .heading
          h3.heading-title Say hello👋
          .heading-separator
            span
            span
          a(href="mailto:valeriy.yeroshenko@gmail.com").heading-link valeriy.yeroshenko@gmail.com
          .heading-icons
            a(href="#").heading-icons__link
              img(src="./img/svg/github.svg", alt="").heading-icons__img
            a(href="#").heading-icons__link
              img(src="./img/svg/linkedin.svg", alt="").heading-icons__img
            a(href="#").heading-icons__link
              img(src="./img/svg/instagram.svg", alt="").heading-icons__img
            a(href="#").heading-icons__link
              img(src="./img/svg/facebook.svg", alt="").heading-icons__img
            a(href="#").heading-icons__link
              img(src="./img/svg/telegram.svg", alt="").heading-icons__img

        .content
          .content__img