extends ../main-layout.pug

block title
  title Welcome

block content

  header.header
    a.logo(href="./") Yeroshenko
    .gamburger
      span
      span
      span
      span

  main#fullpage
    section.section.welcome 
      .heading
        h1.heading__title.heading__title_bold Valeriy Yeroshenko
        .heading__separator
          span
          span
        h3.heading__subtitle Front-end / react&nbsp;developer

    section.section.works works
    section.section.about about
    section.section.contacts contacts
